@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
.ff-fir {
  font-family: "Fira Sans", sans-serif;
}
.vh-100 {
  min-height: 100vh;
}
.container {
  max-width: 1110px;
  margin-left: auto;

  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.fw-400 {
  font-weight: 400;
}
.py-29 {
  padding: 29px 0;
}

.fs-16 {
  font-size: 16px;
}
.lh-24 {
  line-height: 24px;
}
.white {
  color: white;
}
.opacity-07 {
  opacity: 0.7;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.ps-0 {
  padding-left: 0;
}
.mb-0 {
  margin-bottom: 0;
}

.gap-46 {
  gap: 46px;
}
.gap-60 {
  gap: 60px;
}
.btn {
  border: none;
  padding: 14px 32px;
  background-color: #ffc20a;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  border-radius: 36px;
  margin-left: 24px;
  font-family: Dela Gothic One;
}
.gap-8 {
  gap: 8px;
}

.py-10-72 {
  padding: 10px 0 72px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.col-6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}
.hero-img {
  width: 100%;
  max-width: 531px;
}

.col-6 > h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: white;
}

.col-6 > h1 {
  font-family: Exo 2;
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  margin-bottom: 16px;
  font-family: "Exo 2", sans-serif;
}
.green {
  color: #3b945e;
}
.white {
  color: white;
}

.col-6 > p {
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.9 !important;
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
}
.w-100 {
  width: 100%;
}

.herobg {
  background-image: url("./img/header-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btmLyaer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.uplayer {
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -3;
}
.relative {
  z-index: 3;
  position: relative;
  overflow: hidden;
}
